name: Build and Test
permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5
    
    - name: Install Nix
      uses: cachix/install-nix-action@v31
        
    - name: Setup Nix Cache
      uses: cachix/cachix-action@v16
      with:
        name: forketyfork
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      continue-on-error: true
        
    - name: Build and Test All Problems
      run: |
        nix develop --command bash -c './scripts/compile.sh'
        
    - name: Check Code Style
      run: |
        nix develop --command bash -c './scripts/lint.sh || true'
